:root {
    --background: grey;
    --background-alt: #d3d3d3;
    --primary: #830e0e;
    --secondary: #944343;
    --tertiary: #412222;
    --quaternary: #6b5656;
    --text: #000;
    --text-light: #fff;
    --font: 'Google Sans Flex';
}