<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Menu</title>
</head>
<body>
<header>


    <section id="menu">
        <header class="menu-meta">
            <h1 class="main-title">Dushi Bunita Menu</h1>
            <p class="menu-description">ADD SHORT DESCRIPTION BELOW</p>
        </header>


        <div class="menu-columns">
            <div class="column">
                <h2>Appetizers</h2>

                <article class="meals-wrapper">
                    <div class="meals">
                        <div class="meal">
                            <div class="content">
                                <h3 class="meal-title">Kabes Ku Igra</h3>
                                <p class="meal-description">Igra toba ku batata herebe, den saus pretu.</p>
                            </div>

                            <small class="price"><span class="currency">XCG</span> <span class="amount">12,00</span></small>
                        </div>
                        <div class="meal">
                            <div class="content">
                                <h3 class="meal-title">Kabes Ku Igra</h3>
                                <p class="meal-description">Igra toba ku batata herebe, den saus pretu.</p>
                            </div>

                            <small class="price"><span class="currency">XCG</span> <span class="amount">12,00</span></small>
                        </div>
                        <div class="meal">
                            <div class="content">
                                <h3 class="meal-title">Kabes Ku Igra</h3>
                                <p class="meal-description">Igra toba ku batata herebe, den saus pretu.</p>
                            </div>

                            <small class="price"><span class="currency">XCG</span> <span class="amount">12,00</span></small>
                        </div>
                        <div class="meal">
                            <div class="content">
                                <h3 class="meal-title">Kabes Ku Igra</h3>
                                <p class="meal-description">Igra toba ku batata herebe, den saus pretu.</p>
                            </div>

                            <small class="price"><span class="currency">XCG</span> <span class="amount">12,00</span></small>
                        </div>
                    </div>
                </article>
            </div>
            <div class="column"><h2>Main dish</h2>
                <article class="meals-wrapper">
                    <div class="meals">
                        <div class="meal">
                            <div class="content">
                                <h3 class="meal-title">Kabes Ku Igra</h3>
                                <p class="meal-description">Igra toba ku batata herebe, den saus pretu.</p>
                            </div>

                            <small class="price"><span class="currency">XCG</span> <span class="amount">12,00</span></small>
                        </div>
                        <div class="meal">
                            <div class="content">
                                <h3 class="meal-title">Kabes Ku Igra</h3>
                                <p class="meal-description">Igra toba ku batata herebe, den saus pretu.</p>
                            </div>

                            <small class="price"><span class="currency">XCG</span> <span class="amount">12,00</span></small>
                        </div>
                        <div class="meal">
                            <div class="content">
                                <h3 class="meal-title">Kabes Ku Igra</h3>
                                <p class="meal-description">Igra toba ku batata herebe, den saus pretu.</p>
                            </div>

                            <small class="price"><span class="currency">XCG</span> <span class="amount">12,00</span></small>
                        </div>
                        <div class="meal">
                            <div class="content">
                                <h3 class="meal-title">Kabes Ku Igra</h3>
                                <p class="meal-description">Igra toba ku batata herebe, den saus pretu.</p>
                            </div>

                            <small class="price"><span class="currency">XCG</span> <span class="amount">12,00</span></small>
                        </div>
                    </div>
                </article>
            </div>
            <div class="column"><h2>Dessert</h2>
                <article class="meals-wrapper">
                    <div class="meals">

                        <div class="meal">
                            <div class="content">
                                <h3 class="meal-title">Kabes Ku Igra</h3>
                                <p class="meal-description">Igra toba ku batata herebe, den saus pretu.</p>
                            </div>

                            <small class="price"><span class="currency">XCG</span> <span class="amount">12,00</span></small>
                        </div>
                        <div class="meal">
                            <div class="content">
                                <h3 class="meal-title">Kabes Ku Igra</h3>
                                <p class="meal-description">Igra toba ku batata herebe, den saus pretu.</p>
                            </div>

                            <small class="price"><span class="currency">XCG</span> <span class="amount">12,00</span></small>
                        </div>
                        <div class="meal">
                            <div class="content">
                                <h3 class="meal-title">Kabes Ku Igra</h3>
                                <p class="meal-description">Igra toba ku batata herebe, den saus pretu.</p>
                            </div>

                            <small class="price"><span class="currency">XCG</span> <span class="amount">12,00</span></small>
                        </div>
                        <div class="meal">
                            <div class="content">
                                <h3 class="meal-title">Kabes Ku Igra</h3>
                                <p class="meal-description">Igra toba ku batata herebe, den saus pretu.</p>
                            </div>

                            <small class="price"><span class="currency">XCG</span> <span class="amount">12,00</span></small>
                        </div>
                    </div>
                </article>
            </div>
            <div class="column"><h2>Drinks</h2>
                <article class="meals-wrapper">
                    <div class="meals">
                        <div class="meal">
                            <div class="content">
                                <h3 class="meal-title">Kabes Ku Igra</h3>
                                <p class="meal-description">Igra toba ku batata herebe, den saus pretu.</p>
                            </div>

                            <small class="price"><span class="currency">XCG</span> <span class="amount">12,00</span></small>
                        </div>
                        <div class="meal">
                            <div class="content">
                                <h3 class="meal-title">Kabes Ku Igra</h3>
                                <p class="meal-description">Igra toba ku batata herebe, den saus pretu.</p>
                            </div>

                            <small class="price"><span class="currency">XCG</span> <span class="amount">12,00</span></small>
                        </div>
                        <div class="meal">
                            <div class="content">
                                <h3 class="meal-title">Kabes Ku Igra</h3>
                                <p class="meal-description">Igra toba ku batata herebe, den saus pretu.</p>
                            </div>

                            <small class="price"><span class="currency">XCG</span> <span class="amount">12,00</span></small>
                        </div>
                        <div class="meal">
                            <div class="content">
                                <h3 class="meal-title">Kabes Ku Igra</h3>
                                <p class="meal-description">Igra toba ku batata herebe, den saus pretu.</p>
                            </div>

                            <small class="price"><span class="currency">XCG</span> <span class="amount">12,00</span></small>
                        </div>
                    </div>
                </article>
            </div>
        </div>
<footer class="menu-contact">
    <div class="footer-cols">
        <div class="footer col">
            <h3>Order</h3>
            <a href="tel:+">ADD PHONE NUMBER</a>
        </div>
        <div class="footer col">
            <h3>Adress</h3>
            <p class="adress">Velt Willembrodus</p>
            <p class="hour">Pa 9or te ku 5or</p>
        </div>
    </div>
</footer>
    </section>

</header>
</body>
</html>