@use 'helpers/mixin' as *;
html {
    font-size: 62.5%;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-size: 1.6rem;
    font-family: var(--font), sans-serif;
    min-height: 100vh;
}

#menu {
    height: 100%;
    
    .menu-meta {
        margin: 2rem auto;
        width: 50%;
        
        & > * {
            text-align: center;
        }
        
    }
    
    .menu-columns {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1.6rem;
     
        @media screen and (min-width: $breakpoints-xs) {
            grid-template-columns: 1fr 1fr;
        }
        
        @media screen and (min-width: $breakpoints-md) {
            grid-template-columns: 1fr 1fr 1fr;
        }
        
        @media screen and (min-width: $breakpoints-lg) {
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }
        
        
    
        .column {
            padding: 1.6rem;
            border-radius: .5rem;
            container-type: inline-size;
            container-name: meals;
            
            &:nth-child(odd) {
                background: var(--background-alt);
            }
            
            
            
            .meals-wrapper {
                .meals {
                    display: flex;
                    flex-direction:  column;
                    gap: 1.6rem;
                    
                    .meal {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        align-items: start;
                        gap: 1.6rem;
                        
                        @container meals (min-width: 280px) {
                            gap: .5rem;
                            flex-direction: row;
                            align-items: center;
                        }
                        
                      
                        .content {
                            .meal-description {
                                font-size: 1.4rem;
                            }
                        }
                        
                        .price {
                            display: flex;
                            flex-direction: row;
                            gap: .5rem;
                            background: black;
                            color: white;
                            padding: 1rem;
                            border-radius: .5rem;
                        }
                    }
                }
            }
        }
    }
}