@use 'helpers/mixin' as *;
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-size: 1.6rem;
    font-family: var(--font), sans-serif;
    min-height: 100vh;
    background: var(--background);
    color: var(--text);
    margin: 1.6rem;
}

#main {
    margin: 0 auto;
    width: 100%;

    @media screen and (min-width: $breakpoints-md) {
        width: 70%;
    }
}

#menu {
    height: 100%;

    
    .menu-meta {
        margin: 6rem auto;
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
        @media screen and (min-width: $breakpoints-md) {
            width: 50%;
        }
        
        & > * {
            text-align: center;
            width: 100%;

            @media screen and (min-width: $breakpoints-md) {
                width: 30rem;
            }
        }
        
    }

    .menu-grid-container {
        display: flex;
        justify-content: center;
    }
    
    .menu-columns {
        width: 100%;
        max-width: 100%;

        
        
    
        .column {
            width: 100%;
            padding: 1.6rem;
            border-radius: .5rem;
            background: var(--background-light);
            margin-bottom: 1.6rem;
            border: .1rem solid var(--background-dark);

            @media screen and (min-width: 992px) {
              width:360px;
            }
            
            &[style*="--alt: 1"] {
                //background: var(--background-alt);
            }
            .meal-category {
                color: var(--text-light);
                background:  var(--primary);
                padding: 1rem 2rem;
                border-radius: .5rem;
                margin-block: 1.5rem;
                position: relative;
                border-bottom: 1rem solid var(--line);
            }
            
            .meals-wrapper {
                .meals {
                    container-type: inline-size;
                    container-name: meals;
                    display: flex;
                    flex-direction:  column;
                    gap: 1.6rem;
                    
                    .meal {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        align-items: start;
                        gap: 1.6rem;
                        
                        @container meals (min-width: 280px) {
                            gap: .5rem;
                            flex-direction: row;
                            align-items: center;
                            
                            &:has(.meal-description:not(:empty)){
                                align-items: start;
                            }
                        }

                        &.not-available {
                            opacity: .5;
                            position: relative;

                            .meal-title,
                            .meal-description {
                                text-decoration: line-through;
                                text-decoration-thickness: .2rem;
                            }
                        }
                      
                        .content {
                            .meal-description {
                                font-size: 1.4rem;
                            }
                        }
                        
                        .prices {
                            display:  flex;
                            flex-direction: row;
                            gap: 1.5rem;
                        }
                        
                        .price {
                            display: flex;
                            flex-direction: row;
                            gap: .5rem;
                            background: var(--background-dark);
                            color: white;
                            border-radius: .5rem;
                            padding: .5rem;
                            font-size: 1.2rem;
                            
                            @container meals (min-width: 280px) {
                                padding: 1rem;
                            }
                            
                            @container meals (min-width: 315px) {
                                padding: 1rem;
                                .amount,
                                .currency {
                                    font-size: 1.4rem;
                                }
                            }
                        }
                    }
                }
            }

            //&:has(#order) {
            //    position: static !important;
            //}
        }
    }
    
    .menu-navigation {
        display: none;
        place-items: center;
        padding-block: 2rem;
        container-name: link;
        container-type: inline-size;
        
        //
        ul {
            display: flex;
            flex-direction: row;
            gap: 1.6rem;
            list-style: none;
            align-items: center;
            
            li {
                width: 100%;
                height: fit-content;
                
                a {
                    padding: .5rem;
                    display: inline-flex;
                    flex-direction: column;
                    align-items: center;
                    background: var(--background-alt);
                    border-radius: .5rem;
                    box-shadow: .5rem .5rem var(--background);
                    transition: all ease-in-out .3s;
                    text-decoration: none;
                    
                    
                    i {
                        svg {
                            block-size: 2rem;
                            
                            @container link (max-width: 370px) {
                                block-size: 3rem;
                            }
                        }
                      
                    }
                    
                    span {
                        display: block;
                        @container link (max-width: 370px) {
                           display: none;
                        }
                    }
                }
            }
        }
    }
}

