:root {
    --background: #FFFFF3;
    --background-alt: #EEF4D4;
    --background-dark: #000;
    --background-light: #fff;
    --primary: #830e0e;
    --secondary: #944343;
    --tertiary: #412222;
    --quaternary: #6b5656;
    --text: #000;
    --text-light: #fff;
    --font: 'Google Sans Flex';
    --prussian-blue: #00072dff;
    --deep-navy: #001c55ff;
    --imperial-blue: #0a2472ff;
    --cornflower-ocean: #0e6ba8ff;
    --frosted-blue: #a6e1faff;

}